:host {
  display: block;
  margin: auto;
  overflow: hidden;

  &:after {
    clear: both;
  }

  .tab-collection {
    overflow: hidden;
    border-bottom: 1px solid #eaecee;
    background-color: transparent;
  }
}
