$blue: #4b8df8;
$dark-blue: #0362fd;

$green: #35aa47;
$dark-green: #1d943b;

$padding: 20px;
$white: #FFFFFF;
$gray: #C8C8C8;

$btn-primary-bg: $blue;
$btn-success-bg: $green;

$statusColorNew: #467FD7;
$statusColorCheck: #8D74B1;
$statusColorInProgress: #54C242;
$statusColorActive: #555555;
$statusColorDelivered: #555555;

$red: #d43f3a;

$primary: #1E1934;

$btn-default-bg: #eaecee;
